* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    width: 650px;
    height: 650px;
    margin: 0 auto 50px;
    background-color: blueviolet;
}
.list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item {
    margin-bottom: 10px;
    margin-top: 10px;
}
.item:nth-child(n+4) {
    margin-top: 0;
}
/* exercise 2 */
.social {
    margin: 0 auto 50px;
    width: 240px;
    background-color: #ffffff;
    box-shadow: 0 0 10px;
}
.social:hover {
    box-shadow: 0 0 10px 6px #636161;
}
.photo-img {
    padding: 20px;
    transform: rotateZ(0);
    transition: transform 0.2s linear;
}
.photo-img:hover {
    transform: rotateZ(5deg);
}
.title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    transition: color 0.3s, transform 0.2s linear;
}
.title:hover {
    color: rgb(70, 70, 170);
    transform: scale(1.15,1.15);
}
.like:hover {
    width: 90%;
    background-color: cornflowerblue;
}
.paragraf {
    font-size: 20px;
    text-align: center;
    margin: 0 20px 15px;
}
.like {
    width: 100px;
    height: 40px;
    color: #ffffff;
    background-color: rgb(73, 73, 73);
    font-size: 18px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
    transition: width 0.2s, background-color 0.2s;
}