* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    width: 1600px;
    margin: 0 auto;
}
.header {
    padding-top: 35px;
    padding-bottom: 32px;
}
.logo {
    float: left;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    color: #000000;
    margin-left: 245px;
}
.logo::first-letter {
    color: #1abc9c;
    font-weight: 900;
}
.nav {
    float: right;
    margin-right: 245px;
    padding-top: 8px;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
.nav li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-right: 30px;
}
.nav li:last-child {
    margin-right: 0;
}
.nav a {
    text-decoration: none;
    color: #000000;
}
.nav a:hover {
    color: #1abc9c;
}
.section1 {
    position: relative;
}
.arrow {
    position: absolute;
    top: 225px;
    width: 104px;
    height: 104px;
    background-color: #4ec6ab;
    color: #ffffff;
    cursor: pointer;
    opacity: 0.65;
    border: none;
    z-index: 1;
    font-size: 100px;
}
.arrow:hover {
    background-color: #1abc9c;
    opacity: 1;
}
.left {
    left: 245px;
}
.right {
    right: 245px;
}
.slides {
    list-style: none;
    position: relative;
}
.overlay-img {
    position: absolute;
    height: 600px;
    width: 100%;
    background-color: #000002;
    opacity: 0.48;
}
.slides img {
    height: 600px;
    object-fit: cover;
    width: 100%;
}
.title {
    position: absolute;
    top: 210px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.subtitle {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: absolute;
    top: 298px;
    left: 430px;
}

.section2 {
    padding-bottom: 96px;
    padding-top: 96px;
    width: 100%;
    background-color: #e9f0fd;
}
h3 {
    text-transform: uppercase;
    text-align: center;
    color: #515151;
    font-size: 48px;
}
h3::after {
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    display: block;
    margin: 28px auto 76px;
    content: "";
}
.list {
    margin-left: 245px;
}
.item {
    position: relative;
    float: left;
    list-style: none;
    width: 255px;
    background-color: #ffffff;
}
.item:not(:nth-child(4n)) {
    margin-right: 30px;
}
.item:hover .name {
    background-color: #1abc9c;
}
.item:hover .price {
    background-color: #7fd9c7;
}
.overlay {
    position: absolute;
    width: 255px;
    height: 281px;
    background-color: #000000;
    border: 10px solid #ffffff;
    opacity: 0;
}
.item:hover .overlay {
    opacity: 0.55;
}
.item:hover .link {
    opacity: 1;
}
.link {
    position: absolute;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 30px;
    opacity: 0;
}
.link:hover {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}
.button1 {
    width: 50px;
    left: 44px;
    top: 90px;
}
.button2 {
    width: 50px;
    left: 102px;
    top: 90px;    
}
.button3 {
    width: 50px;
    left: 160px;
    top: 90px;  
}
.button4 {
    left: 44px;
    top: 147px;
    width: 166px;
    background-color: #323232; 
}
li p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;  
    display: inline-block;
}
.name {
    float: left;
    text-transform: uppercase;
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: #323232;
    text-align: center;
}
.name>a {
    text-decoration: none;
    color: #ffffff;
}
.price {
    float: right;
    text-transform: uppercase;
    width: 55px;
    height: 40px;
    font-size: 18px;
    font-weight: 900;
    padding: 10px;
    color: #ffffff;
    background-color: #8c8c8c;
    text-align: center;
}
.footer {
    width: 100%;
    height: 88px;
    background-color: #323232;
}
.info {
    font-size: 16px;
    color: #fefefe;
    text-align: center;
    padding-top: 38px;
}
.span {
    color: #46bfa9;
}