*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Playfair Display', serif;
    color: #626262;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
}
.wrapper {
    width: 900px;
    margin: 0 auto;
}
.nav {
    text-align: center;
}
li {
    display: inline-block;
    text-transform: uppercase;
    margin-top: 75px;
    margin-right: 100px; 
    margin-bottom: 100px;  
}
.nav a {
    text-decoration: none;
}
li:last-child {
    margin-right: 0;
}
a:hover {
    color: #03a9f4;
}
.posts-wrap {
    font-size: 0;
}
.article {
    display: inline-block;
    width: 420px;
    font-size: 14px;
    margin-right: 60px;
    margin-bottom: 130px;
}
article:nth-child(even) {
    margin-right: 0;
}
article:nth-last-child(-n+2) {
    margin-bottom: 55px;
}
.article img {
    display: block;
    width: 100%;
    height: auto;
}
img + p {
    font: 300 14px 'Ubuntu', sans-serif;
    color: #b4ad9e;
    text-transform: uppercase;
    margin-top: 26px;
    margin-bottom: 30px;  
}
h2 {
    margin-bottom: 35px;
    font-size: 30px;
}
.button {
    font-size: 20px;
    border: 1px solid;
    display: block;
    padding: 20px 35px;
    margin: 0 auto;
    margin-bottom: 75px;
}